.gradle/
build/
target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.cursor/
prompt/
rag/
knowledge_base.json
src/main/resources/application-local.properties
src/main/resources/keystore.p12
*.p12
