<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.ne.yonem.restful.demo.mapper.MemberMapper">
    <insert id="insert" parameterType="jp.ne.yonem.restful.demo.entity.Member">
        INSERT INTO member (team_id, name) VALUES
        (#{teamId},#{name})
    </insert>
</mapper>